body{
    font: Arial, Helvetica, sans-serif, 20px;
}

.navbar {
    background-color:#C0C0C0;
    	 
}
.nav-link{
    color: white;
}
.quemsomos {
    background-color: #c0c0c081;
    color: #00080a;
}
.margin{
    
    padding-bottom: 40px;
    padding-top: 10px;
}
.Parceiros {
    background-color: #b8bdbb;
    color: black;
}
.bg-footer{
    background-color: #e6eae0;
    color: black;
}